{% extends "shared/base.html" %} 

{% block title %} 
  <title>Job Detail</title>
{% endblock %} 

{% block content %} 
<div class="container">
  <h1 class="display-4" style="color:maroon; font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;" >Job details</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Job Title</th>
            <td>{{job.title}}</td>
          </tr>
          <tr>
            <th scope="row">Company</th>
            <td>{{job.company}}</td>
          </tr>
          <tr>
            <th scope="row">Apply here</th>
            <td> <a href="{{job.company_url}}">{{job.company_url}}</a> </td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{job.description}}</td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td><a href="https://www.google.com/maps/place/{{job.location}}">{{job.location}}</a></td>
          </tr>
        </tbody>
      </table>
  
</div>

{% endblock %}