<style>
  .card-body:hover {
    transform: translate3D(0,-1px,0) scale(1.2);
  }
  .card-body {
    background-color:rgb(241, 234, 213);
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;
  }

  .card-body:hover {
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
  }
  a{
    text-decoration: none;
  }
};
  
</style>
<div class="card" style="width: 18rem; color: black">
    <div class="card-body">
      
      <h5 class="card-title">{{obj.title[:20]}}</h5>
      <p class="card-text">Company : {{obj.company}}</p>
      <p class="card-text">Apply here: <a href="{{obj.company_url}}">{{obj.company_url[:20]}}</a></p>
      <p class="card-text">Description: {{obj.description[:60]}}</p>
      <a href="/detail/{{obj.id}}" class="btn btn-primary">Read More</a>
    </div>
  </div>
